:root {
    --color-text: hsl(200, 15%, 8%);
    --color-input: hsl(0, 0%, 52%);
    --color-background: hsl(0, 0%, 98%);
    --color-white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;
    color: var(--color-text);
    background-color: var(--color-background);

}

main,
.header-container {
    max-width: 1440px;
}

main {
    margin: 32px auto;
    padding: 0 32px;
}

header {
    width: 100%;
    background-color: var(--color-white);
    box-shadow: 0px 2px 10px -2px rgba(66, 68, 90, 1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 32px;
    margin: 0 auto;
}

header button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: var(--color-text);
}

.filters {
    display: none;
}

.filters.active {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin: 30px auto;
    padding: 0 32px;
    max-width: 1440px;
}

.filters.active input,
.filters.active select {
    padding: 10px;
    box-shadow: 0px 2px 10px -2px rgba(66, 68, 90, 1);
    background-color: var(--color-background);
    border: none;
    height: 50px;
}

#query {
    background-color: var(--color-background);

    padding: 15px 30px;
    border: none;
    font-size: 18px;
    width: 400px;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
    list-style: none;
    width: 100%;

}

li {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 10px -2px rgba(66, 68, 90, 1);
    width: 100%;
    max-width: 300px;
    justify-self: center;
}

li a {
    text-decoration: none;
    color: var(--color-text);
}

li img {
    width: 100%;
    aspect-ratio: 160/98;
}

.info-container {
    padding: 30px 20px;

}

.info-container div {
    display: flex;
    justify-content: space-between;
}

.country-name {
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}

.detail-button {
    color: var(--color-text);
    text-decoration: none;
    background: transparent;
    padding: 5px;
    width: 100px;
    text-align: center;
    margin: 10px 0 10px 10px;
    display: inline-block;
    border: 1px solid var(--color-text);
    border-radius: 3px;
}

.detail-container {
    margin: 20px;
    display: flex;
}

.detail-container>div {
    padding: 20px;
    width: 100%;
}

.detail-container img {
    width: 80%;
    max-width: 500px;
}

.detail-name {
    font-size: 48px;
}

.content-element div {
    margin: 10px 0;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.content-element strong {
    margin-right: 10px;
}

.border-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.border-container div {
    flex-wrap: wrap;
    justify-content: flex-end;
}

@media only screen and (max-width: 1440px) {
    ul {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 1080px) {
    ul {
        grid-template-columns: 1fr 1fr;
    }

    .detail-container {
        flex-direction: column;
    }
}

@media only screen and (max-width: 660px) {
    ul {
        grid-template-columns: 1fr;
    }

    .filters.active {
        flex-direction: column;
    }

    #query {
        width: 100%;
        margin-bottom: 10px;
    }

    .header-container {
        flex-direction: column;
    }

    h1 {
        margin-bottom: 20px;
        text-align: center;
    }

    .detail-container img {
        width: 100%;
        max-width: unset;
        margin-top: 20px;
    }

    .detail-container {
        margin: 0px;
    }

    .detail-container>div {
        padding: 0px;
    }

    .content-element div {
        margin: 0px;
        font-size: 18px;
    }

    .border-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .border-container div {
        justify-content: flex-start;
    }

    .detail-button {
        margin: 10px 10px 0 0;
        display: inline-block;
        border: 1px solid var(--color-text);
        border-radius: 3px;
    }
}